.svg{
    margin-top: 0px; 
    position: relative;
    width: 100%;
}
.svg-img{
    width: 42%;
}
.svg h2{
    position: absolute;
    top: 27%;
    left: 7%;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1px;
    color: #fff;
}
.mid-sc{
    display: none;
}

/* OWL */
html {
    scroll-behavior: smooth;
}
.my-slider-card{
    margin: 10px 20px 10px 0px;
    border-radius: 3px;
    transform: scale(0.88);
    height: 350px;
    opacity: 0.6;
    transition: all 0.3s;
}
.my-slider-card img {
    border-radius: 3px;
}
 section{
    height: auto ;
}
@media screen and (min-width:750px) and (max-width:1048px){
    .my-slider-card{
        margin: auto !important;
        width: 80% !important;
        height: 70%;
    }
    .my-slider-card img {
        width: 100%;
    }
    .svg img{
        width: 50%;
    }
    .svg h2{
        top: 14%;
        left: 11%;
        font-size: 32px;
        font-weight: 600;
        line-height: 54px;
    }
}
@media screen and (max-width:749px){
    .my-slider-card{
        margin: auto !important;
        width: 80%;
        height: 80%;
    }
    .svg img{
        width: 55%;
    }
    .svg h2{
        top: 9%;
        left: 8%;
        font-size: 27px;
        font-weight: 600;
        line-height: 54px;
    }
}
@media screen and (max-width:550px){
    
    .svg img{
        width: 55%;
    }
    .svg h2{
        top: -8%;
        left: 7%;
        font-size: 19px;
        font-weight: 600;
        line-height: 50px;
    }
}