section{
    /* height: 480px; */
    position: relative;
    text-align: center;
}
section h2{
font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: center;
color: rgba(67, 153, 200, 1);
padding-top: 2rem;
margin-bottom: 20px;

}

.my-slider-card img{
    display: block !important;
    width: fit-content !important;
}

.my-slider{
    padding-top: 200px;
}
.contact{
    margin: auto;
    width: 50%;
}
h4{
text-align: center;
font-family: Poppins;
font-size: 25px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
color: rgba(56, 78, 91, 1);
margin: 55px auto;
opacity: 0;
}
p{
    margin: auto;
    text-align: center;
    width: 60%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(56, 78, 91, 1);
    opacity: 0;
    height: 130px;
    width: 500px;
    margin-left: -110px;
}
a{
text-align: center;
text-decoration: none;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
color: rgba(67, 153, 200, 1);

}
/* owl */
html {
    scroll-behavior: smooth;
}

.partenerImg{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    transform: rotate(45deg);
    margin: 50px auto;
    transition: all 0.3s;
    
}


@media screen and (min-width:750px) and (max-width:1048px){
    .my-slider-card{
        margin: 45px auto !important;
        width: 80% !important;
        height: 70%;
    }
    .my-slider-card img {
        width: 100%;
    }
}
@media screen and (max-width:749px){
    .my-slider-card{
        margin:50px auto !important;
        width: 80%;
        height: 80%;
    }


}


@media screen and (min-width:360px)and (max-width:500px) {
        .partenerImg{
            width: 150px;
            height: 150px;
            border-radius: 30px;
            transform: rotate(45deg);
            margin: 50px auto;
            
            
        }
}