<section>
    <!-- <h2>Partnerships</h2>
    <img class="img1" src="../../../assets/part-layer1.png" alt="">
    <img class="img2" src="../../../assets/part-layer2.png" alt="">
    <div class="contact">
            <div class="partenerImg">

            <img class="w-100" src="" alt="">

            </div>
            <h4>CompanyName</h4>
            <p>Lorem ipsum dolor sit amet,
             consectetur adipiscingelit. Nullam erat tellus, pharetravel elit et,
              commodo eleifend ex. Curabitur vitae lectus elit.
            </p>

    </div> -->


<h2>Partnerships</h2>
    <!-- <img class="img1" src="../../../assets/part-layer1.png" alt="">
    <img class="img2" src="../../../assets/part-layer2.png" alt=""> -->
  <section class="my-parteners-slider  ">
      
      <div class="my-work-container">
          <owl-carousel-o [options]="customOptions" class="my-slider mb-5">
              <ng-template carouselSlide>
                  <div class="my-slider-card ">
                      <img   src="../../../assets/clener.png" alt="work img" class="my-slider-card partenerImg " >
                      <h4>CompanyName 1</h4>
                      <p>We're proud to partner with Drive Express, Broad Reach, and Flex Express Courier to better serve
                        our commercial fleet and logistics company clients.
                      </p>
                  </div>
              </ng-template>  
              <ng-template carouselSlide>
                  <div class="my-slider-card">
                      <img  src="../../../assets/clener.png" alt="work img" class="my-slider-card img partenerImg" >
                      <h4>CompanyName 2</h4>
                      <p>We're proud to partner with Drive Express, Broad Reach, and Flex Express Courier to better serve
                        our commercial fleet and logistics company clients.
                      </p>
                  </div>
              </ng-template>  
              <ng-template carouselSlide>
                  <div class="my-slider-card">
                      <img  src="../../../assets/clener.png" alt="work img" class="my-slider-card img partenerImg" >
                        <h4>CompanyName 3</h4>
                        <p>We're proud to partner with Drive Express, Broad Reach, and Flex Express Courier to better serve
                          our commercial fleet and logistics company clients.
                        </p>
                  </div>
              </ng-template>  
              <ng-template carouselSlide>
                  <div class="my-slider-card">
                      <img  src="../../../assets/clener.png" alt="work img" class="my-slider-card img partenerImg" >
                      <h4>CompanyName 4</h4>
                      <p>We're proud to partner with Drive Express, Broad Reach, and Flex Express Courier to better serve
                        our commercial fleet and logistics company clients.
                      </p>
                  </div>
              </ng-template>  
  
          </owl-carousel-o>
      </div>
  </section>
  <a href="" class="mt-0 ">See Work >></a>
  
    
</section>