<section>
    <h2>Partnerships</h2>
    <img class="img1" src="../../../assets/part-layer1.png" alt="">
    <img class="img2" src="../../../assets/part-layer2.png" alt="">
    <div class="contact">
            <div class="partenerImg">

            <img class="w-100" src="" alt="">

            </div>
            <h4>CompanyName</h4>
            <p>Lorem ipsum dolor sit amet,
             consectetur adipiscingelit. Nullam erat tellus, pharetravel elit et,
              commodo eleifend ex. Curabitur vitae lectus elit.
            </p>

    </div>
    <a href="">See Work >></a>
</section>