<section>
  <h2>Partnerships</h2>
    <section class="my-parteners-slider  ">
        
        <div class="my-work-container">
            <owl-carousel-o [options]="customOptions" class="my-slider mb-5">
                <ng-template carouselSlide>
                    <div class="my-slider-card ">
                        <img   src="assets/flexx 1.png" alt="work img" class=" partenerImg " >
                        <h4>Flex Express</h4>
                        <p>We're proud to partner with Drive Express, Broad Reach, and Flex Express Courier to better serve
                          our commercial fleet and logistics company clients.
                        </p>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img  src="assets/driveXpress 2.png" alt="work img" class=" partenerImg" >
                        <h4>Drive Express</h4>
                        <p>We're proud to partner with Drive Express, Broad Reach, and Flex Express Courier to better serve
                          our commercial fleet and logistics company clients.
                        </p>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img  src="assets/driveXpress 2.png" height="150px" alt="work img" class=" partenerImg" >
                          <h4>Drive Express</h4>
                          <p>We're proud to partner with Drive Express, Broad Reach, and Flex Express Courier to better serve
                            our commercial fleet and logistics company clients.
                          </p>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img  src="assets/broadreach 2@2x.png" alt="work img" class=" partenerImg" >
                        <h4>Broad Reach</h4>
                        <p>We're proud to partner with Drive Express, Broad Reach, and Flex Express Courier to better serve
                          our commercial fleet and logistics company clients.
                        </p>
                    </div>
                </ng-template>  
    
            </owl-carousel-o>
        </div>
    </section>
    <a routerLink="/partenerShips" class="mt-0 ">See Work >></a>
    
      
  </section>