<section >
    <div class="svg ">
        <img src="assets/partener1.svg" alt="svg">
        <h2>Our Work</h2>
    </div>

    <section class="my-works-slider ">
        <div class="my-work-container">
            <owl-carousel-o [options]="customOptions" class="my-slider">
                <ng-template carouselSlide>
                    <div class="my-slider-card ">
                        <img    src="assets/work7.jpg" alt="work img" class="my-slider-card" >

                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work8.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work9.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work10.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work11.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work12.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  

            </owl-carousel-o>
        </div>
    </section>
    
</section>