<section class="our-work mt-5">

    <div class="svg ">
        <img src="../../../assets/partener1.svg" alt="svg">
        <h2>Our Work</h2>
    </div>

    <section class="my-works-slider ">
        <div class="my-work-container">
            <owl-carousel-o [options]="customOptions" class="my-slider">
                <ng-template carouselSlide>
                    <div class="my-slider-card ">
                        <img   src="../../../assets/clener.png" alt="work img" class="my-slider-card" >

                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img  src="../../../assets/clener.png" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img  src="../../../assets/clener.png" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img  src="../../../assets/clener.png" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img  src="../../../assets/clener.png" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img  src="../../../assets/clener.png" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
            </owl-carousel-o>
        </div>
    </section>
    
</section>