<section >
    <div class="svg ">
        <img src="assets/partener1.svg" alt="svg">
        <h2>Our Work</h2>
    </div>
      <div class="container">
        <div class="row">
             <div class="col-sm-12 col-md-3 mt-3 work-hover">
                <img    src="assets/work/worka1.jpg" alt="work img"  width="100%" height="300px">
             </div>
             <div class="col-sm-12 col-md-3 mt-3  work-hover">
                <img    src="assets/work/worka2.jpg" alt="work img" width="100%" height="300px">
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img    src="assets/work/worka2.jpg" alt="work img" width="100%" height="300px">
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img    src="assets/work/work3.jpg" alt="work img" width="100%" height="300px" >
            </div>
            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img   src="assets/work/work4.jpg" alt="work img" width="100%" height="300px"  >
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img   src="assets/work/work5.jpg" alt="work img" width="100%" height="300px">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img   src="assets/work/work6.jpg" alt="work img" width="100%" height="300px">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-3 work-hover">
                <img   src="assets/work/work7.jpg" alt="work img" width="100%" height="300px">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img   src="assets/work/work8.jpg" alt="work img" width="100%" height="300px">
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img   src="assets/work/work9.jpg" alt="work img" width="100%" height="300px">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img   src="assets/work/work10.jpg" alt="work img" width="100%" height="300px">
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-3 mt-3  work-hover">
                <img   src="assets/work/work11.jpg" alt="work img" width="100%" height="300px">
            </div>
            <div class="col-sm-12 col-md-3 mt-3 work-hover">
                <img   src="assets/work/work12.jpg" alt="work img" width="100%" height="300px">
            </div>
        </div>
      </div>
    <!-- <section class="my-works-slider ">
        <div class="my-work-container">
            <owl-carousel-o [options]="customOptions" class="my-slider">
               <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work/work8.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work/work9.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work/work10.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work/work11.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="my-slider-card">
                        <img   src="assets/work/work12.jpg" alt="work img" class="my-slider-card img" >
                        
                    </div>
                </ng-template>  

            </owl-carousel-o>
        </div>
    </section> -->
    
</section>