.svg{
    position: relative;
    }
    .svg h2{
    position: absolute;
    top: 10%;
    left: 9%;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1px;
    color: #fff;
    }
    .items{
    transform: translateY(-16%);
    width: 75%;
    margin: auto;
    text-align: center;
    }
    .item{
   
    overflow: hidden;
    background-color: #fff;
    border:1px solid rgba(67, 153, 200, 0.15);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    /* display: inline-block; */
    /* margin: 20px; */
    }
.item img{
        height: 100%;
}
::ng-deep .owl-prev,
::ng-deep .owl-next {
  display: none !important;
}
    @media screen and (min-width:992px) and (max-width:1200px) {
    .svg h2{
    top: 5%;
    
    }
    .items{
    width: 87%;
    
    }
    .grid-container {
        gap: 10px;
        
    }
    }
    
    @media screen and (min-width:768px)and (max-width:992px) {
    .svg h2{
    top: -3%;
    
    }
    .items{
    /* transform: translateY(0%); */
    width: 87%;
    
    }
    .grid-container {
        gap: 10px;
        
    }
    
    }
    @media screen and (min-width:500px)and (max-width:768px) {
    .svg h2{
    top: -8%;
    left: 5%;
    font-size: 24px;
    
    }
    .items{
        margin-top: 30px;
    /* transform: translateY(0%); */
    width: 87%;
    
    }
    .grid-container {
        gap: 10px;
        
    }
    }
    @media screen and (min-width:360px)and (max-width:500px) {
    .svg h2{
    position: absolute;
    top: 2%;
    left: 9%;
    
    font-size: 18px;
    
    line-height: 20px;
    
    }
    .items{
    transform: translateY(0%);
    width: 94%;
    margin: auto;
    text-align: center;
    }
    .grid-container {
        height: 700px;
        display: grid;
        grid-template-areas:
            'one two  '
            'five five'
            'five five '
            'four three '
            'six six '
            'six six  '
            ;
        gap: 8px;
        
        padding: 10px;
    }
    }