
<section>
   
    <div class="info-content">
      <h2> Why Choose Us?</h2>
        <div class="container">

        
        <div class="img">
            <img class="w-100 h-100" src="assets/about/Mask group1.png" alt="">
            <div class="info">
                <h4>         Convenience                      </h4>
            <p >
                we'll come right to your home or business so you don't have to go anywhere!
            </p>

            <h4> Efficiency</h4>
            <p>
                our mobile services mean quick turnaround times rather than waiting at a car wash.
            </p>
            <h4> Quality</h4>
            <p>
                our team provides complete interior and exterior washing and detailing services.
            </p>
            <h4> Flexibility</h4>
            <p>
                we can handle vehicles of all types from sedans to large commercial fleets.
            </p>
            </div>
        </div>
       </div>
    </div>     
    <div class="info-content-res">
        <h2> Why Choose Us?</h2>

          <div class="container">
          <div class="img-res">
              <img class="w-100 h-100" src="assets/about/Mask group1.png" alt="">
             
          </div> 
          <div class="info-res">
                  <h4>         Convenience                      </h4>
              <p >
                  we'll come right to your home or business so you don't have to go anywhere!
              </p>
  
              <h4> Efficiency</h4>
              <p>
                  our mobile services mean quick turnaround times rather than waiting at a car wash.
              </p>
              <h4> Quality</h4>
              <p>
                  our team provides complete interior and exterior washing and detailing services.
              </p>
              <h4> Flexibility</h4>
              <p>
                  we can handle vehicles of all types from sedans to large commercial fleets.
              </p>
          </div>
         </div>
      </div>     
       
    <div class="info-content1">
      
        <div class="container">

        
        <div class="img">
            <img class="w-100 h-100" src="assets/about/vision.png" alt="">
            <div class="info">
                <h4>Our Vision</h4>
            <p >
                To be the most trusted and sought-after mobile wash service, delivering five-star experiences anytime, anywhere.
            </p>

            <h4> Our Passion</h4>
            <p>
                At Flex Mobile Wash,our team loves cars.We enjoy making vehicles look their absolute best.Our passion is providing top-notch mobile washing services that make spaces and vehicle maintenance efficient and convenient for our valued customers.
            </p>
            <h4> Our Mission</h4>
            <p>
                To reinvent mobile washing with our innovative power-wash services,providing exceptional convenience and quality to every customer.
            </p>
            </div>
        </div>
       </div>
    </div>
    <div class="info-content-res">
      
        <div class="container">

        
        <div class="img-res">
            <img class="w-100 h-100" src="assets/about/vision.png" alt="">
            
        </div>
        <div class="info-res">
                <h4>Our Vision</h4>
            <p >
                To be the most trusted and sought-after mobile wash service, delivering five-star experiences anytime, anywhere.
            </p>

            <h4> Our Passion</h4>
            <p>
                At Flex Mobile Wash,our team loves cars.We enjoy making vehicles look their absolute best.Our passion is providing top-notch mobile washing services that make spaces and vehicle maintenance efficient and convenient for our valued customers.
            </p>
            <h4> Our Mission</h4>
            <p>
                To reinvent mobile washing with our innovative power-wash services,providing exceptional convenience and quality to every customer.
            </p>
        </div>
       </div>
    </div>
    <div class="info-content2">
        <h2>Our Values</h2>
        <div class="container box">
            <div class="layer">
            <img  src="assets/about/value.png" alt="">
            </div>
            <div class="info1">
                <h4>Customer Focus</h4>
                <p>
                    Our customers are the center of everything we do. We aim to provide an excellent service experience
                </p>
                <h4>Quality</h4>
                <p>
                    We deliver outstanding results through meticulous power-washing and dating.            </p>
                <h4>Convenience</h4>
                <p>
                    Our mobile washing services bring the space-washing and car wash directly to our clients for ease and efficiently.            </p>
                <h4>Responsiveness</h4>
                <p>
                    We strive to respond to customer requests and needs in a timely manner
                </p>
                <h4>Innovation</h4>
                <p>
                    We embrace new technologies and methods to continously improve our mobile wash services            </p>
               
            </div>
           
        </div>
        <div class="container box ">
           
            <div class="info1 ">
                <h4>Team Work</h4>
                <p>
                    Our crew works together coheslvely to get the job done right. We function as a cooperative,supportive team.
                </p>
                <h4>Integrity</h4>
                <p>
                    We conduct busuness with honesty,transarency, and high ethical standards
                </p>
                <h4>Safety</h4>
                <p>
                We adhere to safe practices to ensure and risk-free mobile washing services.
                </p>
                <h4>Sustainability</h4>
                <p>
                    We aim to use eco-friendly products and procedures that minimize environmental.
                </p>
                
            </div>
            <div class="layer">
            <img  src="assets/about/value2.jpg" alt="">
            </div>
        </div>
    </div>
</section>