<section class="myAbout">
    <div class="svg ">
        <img src="../../../assets/partener1.svg" alt="">
        <h2>About :</h2>
    </div>
    <div class="about-content">
        <div class="info">
            <p>
                At Flex Mobile Wash, we believe that your vehicles and spaces deserve the best care possible.
                That's why we offer a comprehensive range of power-wash and detailing services that come
                directly to your doorstep. Whether you're a busy executive, a car enthusiast, or simply someone
                who appreciates a clean space, Flex Mobile Wash is the perfect solution for you.
                <br>
                <br>
                We use only the highest quality products and techniques to ensure that your vehicles and spaces
                look and feel their absolute best. Our team of experienced and dedicated technicians is
                committed to providing you with the ultimate mobile power-wash experience.
                
            </p>
            <a class="btn">Contact Us
            </a>
        </div>
        
        <div class="group">

        <img class="mask-group"  src="assets/Mask group.png"/>   
        <img class="mask-group2" src="assets/Mask group (1).png"/>

        </div>
                    
    </div>
        
</section>
<section class="choose-us">
    <div class="contents">
        <h2>
            Why Choose Us?
        </h2>
        <div class="more-detials row w-100 mt-3">
            <div class="col-lg-6 col-md-12">
                <div class="video" style="width: 90%; " >
                    <video controls muted  class="w-100" poster="assets/poster.png">
                        <source src="../../../assets/video.mp4" type="video/mp4">
                        <source src="/assets/video.webm" type="video/webm">
                    </video>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="vision w-100">
                    <h4>Convenience
                    </h4>
                    <p>
                        we'll come right to your home or business so you don't have to go anywhere!
                    </p>
                    <h4>Efficiency
                    </h4>
                    <p>
                        our mobile services mean quick turnaround times rather than waiting at a car wash.
                    </p>
                    <h4> Quality
                    </h4>
                    <p>
                        our team provides complete interior and exterior washing and detailing services.
                    </p>
                    <h4>Flexibility
                    </h4>
                    <p>
                        we can handle vehicles of all types from sedans to large commercial fleets.
                    </p>
                </div>
            </div>
            
            
         </div>
        
     </div >
     <div class="m-5"></div>
</section>
