<section class="myAbout">
    <div class="svg ">
        <img src="../../../assets/partener1.svg" alt="">
        <h2>About :</h2>
    </div>
    <div class="about-content">
        <div class="info">
            <p>
                At Flex Mobile Wash, we believe that your vehicles and spaces deserve the best care possible.
                That's why we offer a comprehensive range of power-wash and detailing services that come
                directly to your doorstep. Whether you're a busy executive, a car enthusiast, or simply someone
                who appreciates a clean space, Flex Mobile Wash is the perfect solution for you.
                We use only the highest quality products and techniques to ensure that your vehicles and spaces
                look and feel their absolute best. Our team of experienced and dedicated technicians is
                committed to providing you with the ultimate mobile power-wash experience.
                
            </p>
            <a class="btn">Contact Us
            </a>
        </div>
        
        <div class="group">

        <img class="mask-group"  src="assets/Mask group.png"/>   
        <img class="mask-group2" src="assets/Mask group (1).png"/>

        </div>
                    
    </div>
        
</section>
<section class="choose-us">
    <div class="contents">
        <h2>
            Why Choose Us?
        </h2>
        <div class="more-detials row w-100 mt-3">
            <div class="col-lg-6 col-md-12">
                <div class="video" style="width: 90%; " >
                    <video controls muted  class="w-100" poster="assets/poster.png">
                        <source src="../../../assets/video.mp4" type="video/mp4">
                        <source src="/assets/video.webm" type="video/webm">
                    </video>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="vision w-100">
                    <h4>Our Mission:
                    </h4>
                    <p>
                        To reinvent mobile washing with our innovative power-wash services, providing exceptional
                        convenience and quality to every customer.
                    </p>
                    <h4>Our Vision:
                    </h4>
                    <p>
                        To be the most trusted and sought-after mobile wash service, delivering five-star experiences
                        anytime, anywhere
                    </p>
                    <h4>Our Passion:                        :
                    </h4>
                    <p>
                        At Flex Mobile Wash, our team loves cars. We enjoy making vehicles look their absolute best.
                            Our passion is providing top-notch mobile washing services that make spaces and vehicle
                            maintenance efficient and convenient for our valued customers.
                    </p>
                </div>
            </div>
            
            
         </div>
        
     </div >
     <div class="m-5"></div>
</section>
