<section class="mt-5">
    <div class="container">
        <div class="row">
            <h3>Request Service</h3>

            
            <form [formGroup]="requestForm" (ngSubmit)="request(requestForm)">

            <form [formGroup]="requestForm" (ngSubmit)="submitForm()">

                <div class="d-flex gap-3">
                    <input formControlName="first_name" type="text" placeholder="First Name" class="form-control my-3 w-50">
                    <div *ngIf="requestForm.get('first_name')?.errors && requestForm.get('first_name')?.touched">
                        <p *ngIf="requestForm.get('first_name')?.getError('required')" class="text-danger">Fitsr Name is required</p>
                    </div>
                    <input formControlName="last_name" type="text" placeholder="Last Name" class="form-control my-3 w-50">
                    <div *ngIf="requestForm.get('last_name')?.errors && requestForm.get('last_name')?.touched">
                        <p *ngIf="requestForm.get('last_name')?.getError('required')" class="text-danger">Last Name is required</p>
                    </div>
                </div>
                <div>
                    <input formControlName="address" type="text" name="" id="" placeholder="Address" class="form-control my-3">
                    <div *ngIf="requestForm.get('address')?.errors && requestForm.get('address')?.touched">
                        <p *ngIf="requestForm.get('address')?.getError('required')" class="text-danger">Address is required</p>
                    </div>
                </div>
                <div class="d-flex gap-3">
                    <input formControlName="city" type="text" name="" id="" placeholder="City"  class="form-control my-3">
                    <div *ngIf="requestForm.get('city')?.errors && requestForm.get('city')?.touched">
                        <p *ngIf="requestForm.get('city')?.getError('required')" class="text-danger">City Name is required</p>
                    </div>
                    <input formControlName="postalcode" type="number" name="" id="" placeholder="Postal Code"  class="form-control my-3">
                    <div *ngIf="requestForm.get('postalcode')?.errors && requestForm.get('postalcode')?.touched">
                        <p *ngIf="requestForm.get('postalcode')?.getError('required')" class="text-danger">Postal Code is required</p>
                    </div>
                    <input formControlName="province" type="text" name="" id="" placeholder="Province"  class="form-control my-3">
                    <div *ngIf="requestForm.get('province')?.errors && requestForm.get('province')?.touched">
                        <p *ngIf="requestForm.get('province')?.getError('required')" class="text-danger">Province is required</p>
                    </div>
                </div>
                <div>
                    <input formControlName="contact_number" type="tel" name="" id="" placeholder="Contact Number" class="form-control my-3">
                    <div *ngIf="requestForm.get('contact_number')?.errors && requestForm.get('contact_number')?.touched">
                        <p *ngIf="requestForm.get('contact_number')?.getError('required')" class="text-danger">Contact Number is required</p>
                    </div>
                </div>
                <div>
                    <input formControlName="email" type="email" name="" id="" placeholder="Email" class="form-control my-3">
                    <div *ngIf="requestForm.get('email')?.errors && requestForm.get('email')?.touched">
                        <p *ngIf="requestForm.get('email')?.getError('required')" class="text-danger">Email is required</p>
                    </div>
                </div>
                <h5 class="text-decoration-underline">Choose truck type</h5>
                <div class="types">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../assets/semi truck 2.png" alt="">
                            <p>Commercial vans- Sprinter Category</p>
                        </div>
                        <div class="col-md-3">
                            <img src="../../../assets/semi truck 2.png" alt="">
                            <p>5-Ton Truck Size</p>
                        </div>
                        <div class="col-md-3">
                            <img src="../../../assets/semi truck 2.png" alt="">
                            <p>Semi Truck Day Cab</p>
                        </div>
                        <div class="col-md-3">
                            <img src="../../../assets/semi truck 2.png" alt="">
                            <p>Semi Truck Sleeper</p>
                        </div>
                    </div>
                </div>
                <div class="prices mt-5">
                    <div class="row ">
                        <div class="col-sm-12 col-md-5 col-lg-4">
                         <div class="card">
                            <h6 class="text-center">WASH & WAX</h6>
                            <ul>
                                <li>Soap wash.</li>
                                <li>Dirt-Free Rinse.</li>
                                <li>Paint Protection. </li>
                                <li>Bug Repellent.</li>
                                <li>Trio scrub.</li>
                                <li>Bug Off. </li>
                                <li>Wheel Rim Cleaner and Shine</li>
                                
                            </ul>
                            <div class="links d-flex gap-3">
                                <a href="">BASIC <span> 45$</span></a>
                            <a href="">ULTIMATE <span>55$</span></a>
                            </div>
                         </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">

                 
                    <div class="card">
                        <h6 class="text-center">DETALING</h6>
                        <ul>
                            <li>Vacuuming carpet, Floor mats, Seats.</li>
                            <li>Shampooing carpet, Floor mats, Seats.</li>
                            <li>Detailing dashboard and Doors.  </li>
                            <li>Carpet salt and stain removal.</li>
                            <li>Cleaning windows inside/outside.</li>
                            <li>Cleaing A/C vent.</li>
                            <li> Clean & Condition fabric/leather.</li>
                            
                        </ul>
                        <div class="links d-flex gap-3">
                            <a href="">BASIC <span> 150$</span></a>
                        <a href="">ULTIMATE <span>200$</span></a>
                        </div>
                    </div>
                    
                        </div>

                        <div class="col-sm-12 col-md-5 col-lg-3">

                        

                           <div class="card text-center">
                            <h6 class="text-center">COMBINE</h6>
                            <div class="links d-flex gap-3">
                                <a href="">BASIC <span> 45$</span></a>
                            <a href="">ULTIMATE <span>55$</span></a>
                            </div>
                           
                           </div>
                          
                        </div>
                    </div>
                </div>
                <div class="butn text-center">
                    <button type="submit" class="btn w-50 " > send</button>

                </div>
            </form>
          
        </div>
    </div>
</section>
