<section>
    <div class="svg ">
        <img src="../../../assets/6 3.png" alt="">
        <h2>Services</h2>
    </div>
    <div class="container">
        <div class="row gap-3 d-flex justify-content-center ">
            <div class="col-xs-12 col-md-6 d-flex align-items-center" >
                <div class="content">
                    <h5>INDUSTRIAL POWER WASHING</h5>
                    <ul>
                        <li>Industrial Spills  </li>
                        <li>Heavy Machinery</li>
                        <li>De-Icing Conveyors/Feeders</li>
                        <li> Weigh Scales</li>
                        <li>Factory Maintenance</li>
                    </ul>
                    <a href=""class='text-decoration-none'>See More ...</a>
                </div>
                <div class="img">
                    <img class="w-100" src="../../../assets/services.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 d-flex align-items-center ">
                <div class="content">
                    <h5>COMMERCIAL POWER WASHING</h5>
                    <ul>
                        <li>Parking Facilities</li>
                        <li>Parkades & Garages</li>
                        <li>Restaurants & Patios</li>
                        <li>Golf Courses</li>
                        <li>Stadiums</li>
                    </ul>
                    <a href=""class='text-decoration-none'>See More ...</a>
                </div>
                <div class="img">
                    <img class="w-100" src="../../../assets/services.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 d-flex  align-items-center services">
                <div class="content">
                    <h5>OUR POWER WASHING SERVICES</h5>
                    <ul>
                        <li>Townhomes</li>
                        <li> Condominiums </li>
                        <li>Driveways</li>
                        <li>Parking Garages</li>
                        <li> Stairs</li>
                    </ul>
                    <a href=""class='text-decoration-none'>See More ...</a>
                </div>
                <div class="img">
                    <img class="w-100" src="../../../assets/services3.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 d-flex  align-items-center">
                <div class="content">
                    <h5>FLEET POWER WASHING SERVICES</h5>
                    <ul>
                        <li>Tractor Trailers </li>
                        <li> Engine/Radiator Wash</li>
                        <li>Buses </li>
                        <li>Dump Trucks</li>
                        <li>Farming Equipment</li>
                        <li>Tankers</li>
                    </ul>
                    <a href=""class='text-decoration-none'>See More ...</a>
                </div>
                <div class="img">
                    <img class="w-100" src="../../../assets/services4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<app-reqest-servies></app-reqest-servies>
