<section>


    <div class="svg ">
        <img src="../../../assets/partener1.svg" alt="">
        <h2>Partnerships</h2>
    </div>
    <div class="items ">
        <div class="item ">
            <img class="w-100" src="../../../assets/clener.png" alt="">
            <div class="name">
                <h4>CompanyName</h4>
                <a routerLink=""> <img src="../../../assets/right-svgrepo-com 1.png" alt=""></a>
            </div>
        </div>
        <div class="item ">
            <img class="w-100" src="../../../assets/clener.png" alt="">
            <div class="name">
                <h4>CompanyName</h4>
                <a routerLink=""> <img src="../../../assets/right-svgrepo-com 1.png" alt=""></a>
            </div>
        </div>
        <div class="item ">
            <img class="w-100" src="../../../assets/clener.png" alt="">
            <div class="name">
                <h4>CompanyName</h4>
               <a routerLink=""> <img src="../../../assets/right-svgrepo-com 1.png" alt=""></a>
            </div>
        </div>
        <div class="item ">
            <img class="w-100" src="../../../assets/clener.png" alt="">
            <div class="name">
                <h4>CompanyName</h4>
                <a routerLink=""> <img src="../../../assets/right-svgrepo-com 1.png" alt=""></a>
            </div>
        </div>
        
    </div>
    </section>