<section>
    <div class="svg ">
        <img src="../../../assets/3 1.png" alt="">
        <h2>About :</h2>
    </div>
    <div class="container">
        <div class="about-content row w-100">

            <div class="col-lg-5 col-md-12">
                <div class="group">
    
                    <img class="mask-group"  src="assets/Mask group (1).png"/>   
                    <img class="mask-group2" src="assets/Mask group.png"/>
        
                </div>
            </div>
    
            <div class="col-lg-7 col-md-12">
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Sed ornareeget justo ac ultricies. Vivamus bibe
                        ndum arcuac augue bibendum non rhoncus justo
                        sodales. Praesentvitae quam id quam facilisis tinci
                        dunt. Duis ut metus in feliselementum fermentum. 
                        Nulla facilisi.Vivamus scelerisquetristique nisl, in tin
                        cidunt dolor  sollicitudin a. Aenean vitaemassa vel 
                        libero dictum  malesuada. Morbi bibendumvelurna 
                        a cursus. Fusce et  est vel felis vehicula hendreritCu
                        rabitur a tellus nec  ipsum facilisis posuere. Nullafa
                        cilisi.Vestibulum convalli.
                    </p>
                    <a class="btn">See more...
                    </a>
                </div>
            </div>
            
            
            
    
                        
        </div>
            
    </div>
</section>
