<section class="mt-3 mb-5">
    <div class="svg ">
        <img src="../../../assets/3 1.png" alt="">
        <h2>About :</h2>
    </div>
    <div class="container">
        <div class="about-content row w-100">

            <div class="col-lg-5 col-md-12">
                <div class="group">
    
                    <img class="mask-group"  src="assets/Mask group (1).png"/>   
                    <img class="mask-group2" src="assets/Mask group.png"/>
        
                </div>
            </div>
    
            <div class="col-lg-7 col-md-12">
                <div class="info">
                    <p>
                        Flex Mobile Wash provides top-notch mobile power-wash services throughout the area. Our team
                        comes right to your location, whether it's your home, office, or warehouse, to clean your vehicles
                        and spaces thoroughly inside and out.
                        Founded in 2023, we aim to make vehicle washing convenient and efficient. Our mobile services
                        mean no waiting in long lines or sitting at a car wash. We'll come to you and get your cars, trucks,
                        fleets, and spaces looking their best
                    </p>
                    <a class="btn">See more...
                    </a>
                </div>
            </div>
            
            
            
    
                        
        </div>
            
    </div>
</section>
