<section class="myAbout">
    <div class="svg ">
        <img src="assets/6 3.png" alt="">
        <h2>About Us : </h2>
    </div>
    <div class="about-content">
        <div class="info">
            <p>
                At Flex Mobile Wash, we believe that your vehicles and spaces deserve the best care possible.
                That's why we offer a comprehensive range of power-wash and detailing services that come
                directly to your doorstep. Whether you're a busy executive, a car enthusiast, or simply someone
                who appreciates a clean space, Flex Mobile Wash is the perfect solution for you.
                <br>
                <br>
                We use only the highest quality products and techniques to ensure that your vehicles and spaces
                look and feel their absolute best. Our team of experienced and dedicated technicians is
                committed to providing you with the ultimate mobile power-wash experience.
                
            </p>
            <a routerLink="/About" class="btn">See More ...</a>
        </div>
        
        <div class="group">

        <img class="mask-group"  src="assets/home/about/slogan.jpeg"/>   
        <img class="mask-group2" src="assets/home/about/slogan1.jpeg"/>

        </div>
                    
    </div>
        
</section>
