svg{
    margin-top: -3px; 
    position: relative;
    width: fit-content;
    }
    .svg h2{
    position: absolute;
    top: 811px;
    left: 33%;
    font-family: Poppins;
    font-size: 40px;
    z-index: 997;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1px;
    color: #fff;
    /* color: red; */
    }

.info{
    padding: 60px;
    text-align: justify;
    position: relative;
    top: -42%;
    }
.info p{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }
.btn{
    margin-top: 20px; 
    width: 409px;
    min-width: fit-content;
    height: 50px;
    top: 467px;
    left: 92px;
    border-radius: 19px;
    background: rgba(67, 153, 200, 1);
    box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1) inset;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    }
    .group{
    position: relative;
    }
    .group img{
    width: 300px;
    }
    .mask-group{
    z-index: 99;
    position: absolute;
    top: 0px;
    left: -4%;
    }
    .mask-group2{
    transform: translate(46%,-45%);
    }

    @media screen and (min-width:992px) and (max-width:1200px) {
        .info{
            padding: 30px;
            top: -30%;
            margin-left: 9%;
            }
            .group img{
                width: 270px;
            }
            .mask-group{
                top: 12px;
                left: 1%;
            }
            .mask-group2{
                transform: translate(46%,-37%);
            }
            .svg h2{
                top: 852px;
                left: 40%;
            }
            .info p{
                text-align: justify;
            }
    }
    
    @media screen and (min-width:768px)and (max-width:992px) {
        .mask-group{
            top: -17px;
            left: 12%;
        }
        .mask-group2{
            transform: translate(87%,-42%);
        }
        .svg h2{
            top: 100%;
        }
        .info{
            top: -2%;
            }
        .svg img{
            width: 94%;
        }
        .info p{
            text-align: justify;
        }
    
    }
    @media screen and (min-width:500px)and (max-width:768px) {
        .mask-group{
            top: 23px;
            left: 6%;
        }
        .mask-group2{
            transform: translate(70%,-28%);
        }
        .svg h2{
            
            top: 102%;
            left: 40%;
            font-size: 34px;
        }
        .info{
            padding: 20px;
            top: 10%;
            }
        .svg img{
            width: 94%;

        }
        .group img{
            width: 255px;
        }
        .info p{
            text-align: justify;
        }
    }
    @media screen and (min-width:360px)and (max-width:500px) {
        .svg img{
            width: 94%;
        }
        .group img{
            width: 180px;
        }
        .mask-group2{
            transform: translate(55%,-18%);
        }
        .svg h2{
            
            top: 103%;
            left: 35%;
            font-size: 21px;
        }
        .mask-group{
            top: 46px;
            left: 4%;
        }
        .info{
            padding: 12px;
            top: 11%;
            font-size: 15px;
        }
        .info p{
            text-align: justify;
        }
        .btn{
            margin-top: 2px; 
            width: 100%;
            font-weight: 600;
            }

    }
    @media screen and (min-width:200px)and (max-width:360px) {
        .svg img{
            width: 94%;
        }
        .group img{
            width: 180px;
        }
        .mask-group2{
            transform: translate(28%,-24%);
        }
        .svg h2{
            
            top: 104%;
            left: 34%;
            font-size: 20px;
        }
        .mask-group{
            top: 49px;
            left: 0%;
        }
        .info{
            padding: 1px;
            top: 11%;
            font-size: 14px;
            
        }
        .info p{
            text-align: justify;
        }
        .btn{
            margin-top: 2px; 
            margin-bottom: 30px;
            width: 100%;
            font-weight: 500;
            }

    }

