<div class="footer">
  <img src="assets/fo-bg.png" alt="" width="100%"  class="img2">
      <img src="assets/footer-layer.png" alt="" class="img1 w-100"> 
      <div class="footer-layer ">
           <div class="content">
             <img src="assets/footer-logo.png" alt="">
          
              <p> “ we take pride in every wash” </p>
  
              <div class="icon">
                <a href="tel:+14163039202" target="_blank">
                  <i class="fa-solid fa-phone"></i>
                </a>
                <a  href="mailto:info@flexmobilewash.com" target="_blank">
                  <i class="fa-regular fa-envelope"></i>
                </a>
                <a target="_blank">
                  <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61550195413181&mibextid=ZbWKwL" target="_blank">
                  <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/flexmobilewash.ca/?hl=en
                https://www.facebook.com/profile.php?id=61550195413181" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
                <a>
                  <i class="fa-brands fa-tiktok" target="_blank"></i>
                </a>
              </div>
           </div>      
  
  
      </div>
     
  </div>