<div class="footer">
<img src="../../../assets/fo-bg.png" alt="" width="100%"  class="img2">
    <img src="../../../assets/footer-layer.png" alt="" class="img1 w-100"> 
    <div class="footer-layer ">
         <div class="content">
           <img src="../../../assets/footer-logo.png" alt="">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat tellus, pharetra <br>
            vel elit et, commodo eleifend ex. Curabitur vitae lectus elit. </p>
            <div class="icon">
              <a>
                <i class="fa-solid fa-phone"></i>
              </a>
              <a>
                <i class="fa-regular fa-envelope"></i>
              </a>
              <a>
                <i class="fa-brands fa-whatsapp"></i>
              </a>
              <a>
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a>
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a>
                <i class="fa-brands fa-tiktok"></i>
              </a>
            </div>
         </div>      


    </div>
   
</div>