<div class="footer">
  <img src="assets/footer/fo-bg.png" alt="" width="100%"  class="img2">
      <img src="assets/footer/footer-layer.png" alt="" class="img1 w-100"> 
      <div class="footer-layer ">
           <div class="content">
             <img src="assets/logo 1.png" alt="">
          
              <p> “ we take pride in every wash” </p>
  
              <div class="icon">
                <a href="tel:+14163039202" target="_blank">
                  <i class="fa-solid fa-phone"></i>
                </a>
                <a  href="mailto:info@flexmobilewash.com" target="_blank">
                  <i class="fa-regular fa-envelope"></i>
                </a>
                <a target="_blank">
                  <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61550195413181&mibextid=ZbWKwL" target="_blank">
                  <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/flexmobilewash.ca/?hl=en
                https://www.facebook.com/profile.php?id=61550195413181" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@flexmobilewash?_t=8hiUdsJJM8c&_r=1" target="_blank">
                  <i class="fa-brands fa-tiktok" ></i>
                </a>
              </div>
              <p   class=" location">
                <a href="https://www.google.com/maps/search/154+Queen+St+S,+Mississauga,+ON+L5M+2P4,+Unit+216" target="_blank">
                <i class="fa-solid fa-location-dot "></i>  154 Queen St S , Mississauga ,  ON L5M 2P4  , Unit 216
                </a>
              </p>
             </div>      
  
  
      </div>
     
  </div>