<section>
    <div class="bg">
    </div>
    <div class="container mt-5">
        <h3 class="text-center my-3 p-1">services</h3>
        <div class="row d-flex justify-content-center gap-3">
            <div class="col-md-3">
                <div class="img">
                    <img class="w-100" src="../../../assets/services.png" alt="">
                </div>
                <div class="content">
                    <h5>INDUSTRIAL</h5>
                    <ul>
                        <li>Industrial Spills  </li>
                        <li>Heavy Machinery</li>
                        <li>De-Icing Conveyors/Feeders</li>
                        <li> Weigh Scales</li>
                        <li>Factory Maintenance</li>
                    </ul>
                    <a href=""class='text-decoration-none'>See More ...</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <img class="w-100" src="../../../assets/services.png" alt="">
                </div>
                <div class="content">
                    <h5>COMMERCIAL</h5>
                    <ul>
                        <li>Parking Facilities</li>
                        <li>Parkades & Garages</li>
                        <li>Restaurants & Patios</li>
                        <li>Golf Courses</li>
                        <li>Stadiums</li>
                    </ul>
                    <a href=""class='text-decoration-none'>See More ...</a>
                </div>
            </div>
            <div class="col-md-3 services">
                <div class="img">
                    <img src="../../../assets/6 1.png" alt="">
                </div>
                <div class="content">
                    <h5>RESIDENTIAL</h5>
                    <ul>
                        <li>Townhomes</li>
                        <li> Condominiums </li>
                        <li>Driveways</li>
                        <li>Parking Garages</li>
                        <li> Stairs</li>
                    </ul>
                    <a href=""class='text-decoration-none'>See More ...</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <img class="w-100" src="../../../assets/services4.png" alt="">
                </div>
                <div class="content">
                    <h5>FLEET</h5>
                    <ul>
                        <li>Tractor Trailers </li>
                        <li> Engine/Radiator Wash</li>
                        <li>Buses </li>
                        <li>Dump Trucks</li>
                        <li>Farming Equipment</li>
                        <li>Tankers</li>
                    </ul>
                    <a href=""class='text-decoration-none'>See More ...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-reqest-servies></app-reqest-servies>