<section>
    <div class="bg">
        <div class="container mt-5">
            <h3 class="text-center my-3 p-1">services</h3>
            <div class="row d-flex justify-content-center gap-3">
                <div class="col-md-2">
                    <div class="img">
                        <img src="../../../assets/images/3 2.png" alt="">
                    </div>
                    <div class="content">
                        <h5>INDUSTRIAL</h5>
                        <ul>
                            <li>Industrial Spills  </li>
                            <li>Heavy Machinery</li>
                            <li>De-Icing Conveyors/Feeders</li>
                            <li> Weigh Scales</li>
                            <li>Factory Maintenance</li>
                        </ul>
                        <a href=""class='text-decoration-none'>See More ...</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="img">
                        <img src="../../../assets/images/3 2.png" alt="">
                    </div>
                    <div class="content">
                        <h5>INDUSTRIAL</h5>
                        <ul>
                            <li>Industrial Spills  </li>
                            <li>Heavy Machinery</li>
                            <li>De-Icing Conveyors/Feeders</li>
                            <li> Weigh Scales</li>
                            <li>Factory Maintenance</li>
                        </ul>
                        <a href=""class='text-decoration-none'>See More ...</a>
                    </div>
                </div>
                <div class="col-md-2 services">
                    <div class="img">
                        <img src="../../../assets/images/services3.png" alt="">
                    </div>
                    <div class="content">
                        <h5>INDUSTRIAL</h5>
                        <ul>
                            <li>Industrial Spills  </li>
                            <li>Heavy Machinery</li>
                            <li>De-Icing Conveyors/Feeders</li>
                            <li> Weigh Scales</li>
                            <li>Factory Maintenance</li>
                        </ul>
                        <a href=""class='text-decoration-none'>See More ...</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="img">
                        <img src="../../../assets/images/3 2.png" alt="">
                    </div>
                    <div class="content">
                        <h5>INDUSTRIAL</h5>
                        <ul>
                            <li>Industrial Spills  </li>
                            <li>Heavy Machinery</li>
                            <li>De-Icing Conveyors/Feeders</li>
                            <li> Weigh Scales</li>
                            <li>Factory Maintenance</li>
                        </ul>
                        <a href=""class='text-decoration-none'>See More ...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-reqest-servies></app-reqest-servies>
