<section>
    <div class="bg">
    </div>
    <div class="container mt-5">
        <h3 class="text-center my-3 p-1">services</h3>
        <div class="row d-flex justify-content-center gap-3">
            <div class="col-md-3">
                <div class="img">
                    <img class="w-100" src="assets/services4.png" alt="">
                </div>
                <div class="content">
                    <h5>Detailing</h5>
                    <ul>
                        <li>A/C Vent Cleaning</li>
                        <li>Floor Mats</li>
                        <li>Shampooing Carpet</li>
                        <li>Doors Detailing</li>
                        <li>Window Cleaning</li>
                        
                    </ul>
                    <a routerLink="/Services" href=""class='text-decoration-none mb-2'>See More ...</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <img class="w-100" src="assets/services.png" alt="">
                </div>
                <div class="content">
                    <h5>Wash & Wax</h5>
                    <ul>
                        <li>Wheel rim cleaner</li>
                        <li>Tire Scrub</li>
                        <li>Dirt-Free Rinse</li>
                        <li>Paint Protection</li>
                        <li>Bug Repellent</li>
                        
                    </ul>
                    
                    <a routerLink="/Services" href=""class='text-decoration-none mb-2'>See More ...</a>
                </div>
            </div>
            <div class="col-md-3 services">
                <div class="img">
                    <img src="assets/6 1.png" alt="">
                </div>
                <div class="content">
                    <h5>On-Demand Services</h5>
                    <ul>
                        <li>Plazas & Garages</li>
                        <li>Warehouses & Yards </li>
                        <li>Boats & Ports</li>
                        <li>Parking Garages</li>
                        <li>Sidewalks</li>
                    </ul>
                    <a routerLink="/Services" href=""class='text-decoration-none mb-2'>See More ...</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <img class="w-100" src="assets/services.png" alt="">
                </div>
                <div class="content">
                    <h5>Extra Services</h5>
                    <ul>
                        <li>Electric Air Freshening</li>
                        <li>Pet Hair Removal</li>
                        <li>Roof Cleaning</li>
                        <li>Aluminum Shine</li>
                        <li>Glass Polish</li>
                        
                    </ul>
                    <a routerLink="/Services" href=""class='text-decoration-none mb-2'>See More ...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-reqest-servies></app-reqest-servies>