 
 <section>
 

    <div class="background-video">
      <video muted autoplay loop >
          <source src="../../../assets/production_id_4813244 (1080p).mp4"  type="video/mp4" >
      </video>
      
      <div class="content text-white">
        <!-- <h5>welcome to</h5>
        <span>F L E X</span>
          MOBILE WASH
        <p>Flex Mobile Wash Brings The Power-Wash Services To You </p> -->

          <h1 class="mb-2">Washing Warriors <br>On the Go!</h1>
          <p class="mb-4">FLEX Mobile Wash Brings The Power-Wash Services To You</p>
          <div class="button">
            <button class="btn mycall" >Call Now</button>
            <img class="position-absolute" src="../../../assets/home-layer.png" alt="">
          </div>
       </div>
  </div>
   

 
 </section>
