 
 <section>
 

    <div class="background-video">
      <video muted  autoplay loop >
          <source src="../../../assets/production_id_4813244 (1080p).mp4"  type="video/mp4" >
      </video>
      
      <div class="content text-white">
       

          <h1>welcome to <br>
           <span class="flex">F L E X</span>   <span class="mobile">MOBILE WASH</span> </h1>
              <p class="lettleInfo">
              Lorem ipsum dolor sit amet, consectetur 
              adipiscingelit. Nullam erat tellus, pharetr
              avel elit et, commodoeleifend ex. Curabit
              ur vitae lectus elit. 
              </p>
          <div class="button">
            <button class="btn-call mycall" >Call Now</button>
          </div>
       </div>
  </div>
   
    <img class="svg" src="../../../assets/home-layer.png" alt="">

 
 </section>
