 <section class="slider">
    <div class="carousel-inner"  style="height: 90vh;">
        <div class="carousel-item active" style="height: 100%;">                    
          <video width="100%"    autoplay loop   poster="assets/image 2.png"  id='myVideo'>
              <source  type="video/mp4">
          </video>
          <div class="carousel-caption container d-none d-md-block">
            <h5>welcome to <span class="flex">F L E X <span class="wash">MOBILE WASH</span> </span></h5>
            <h1>Washing Warriors <br>On the 
              Go!</h1>
            <p>Flex Mobile Wash Brings The Power-Wash Services To You</p>
            <a class="btn-call "  href="tel:+14163039202" target="_blank">Call Now</a>
          </div>
        </div>
      </div>
    <img class="home-layer" src="../../../assets/home-layer.png" alt="">
 </section> 
 <section>
 
    <div class="background-video">
      <video muted autoplay loop >
          <source src="../../../assets/production_id_4813244 (1080p).mp4" type="video/mp4" >
      </video>
      
      <div class="content text-white">
        <h5>welcome to</h5>
        <span>F L E X</span>
          MOBILE WASH
        <p>Lorem ipsum dolor sit amet, consectetur 
          adipiscingelit. Nullam erat tellus, pharetr
          avel elit et, commodoeleifend ex. Curabit
          ur vitae lectus elit.</p>
          <div class="button">
            <button class="btn">call us</button>
            <img class="position-absolute" src="../../../assets/home-layer.png" alt="">
          </div>
       </div>
  </div>
   

 
 </section>
