<section >
    <div class="svg ">
        <img src="../../../assets/wave (4).svg" alt="svg">
        <h2>INDUSTRIAL POWER WASHING</h2>
    </div>

    <div class="pairant container">
        <div class="row w-100">
            <div class="col-lg-5 col-md-6">
                <div class="service-list">
                    <p>
                        <img src="../../../assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span>Industrial Equipment Cleaning.</span>
                    </p>
                    <p>
                        <img src="../../../assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span>Tanks.</span>
                    </p>
                    <p>
                        <img src="../../../assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span>Vessels.</span>
                    </p>
                    <p>
                        <img src="../../../assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span>Industrial Shut-Downs.</span>
                    </p>
                    <p>
                        <img src="../../../assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span>Line Snaking (flushing/jetting).</span>
                    </p>
                    <p>
                        <img src="../../../assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span>Factory Maintenance.</span>
                    </p>
                    <p>
                        <img src="../../../assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span>Emergency Clean Up.</span>
                    </p>
                    <p>
                        <img src="../../../assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span>Warehouse Cleaning.</span>
                    </p>
                </div>
            </div>
            <!-- <div class="col-lg-1 col-md-1"></div> -->
            <div class="col-lg-7 col-md-6">
                <div>
                    <img src="../../../assets/Mask group (2).png" alt="cleaning" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>

