<section >
    <div class="svg ">
        <img src="assets/wave (4).svg" alt="svg">
        <h2>{{service.name}}</h2>
    </div>

    <div class="pairant container">
        <div class="row w-100">
            <div class="col-lg-5 col-md-6">
                <div class="service-list">
                    <p *ngFor="let info of service.info">
                        <img  src="assets/hose-watering-tool-for-gardening-svgrepo-com 1.png" alt="icon" width="20px" height="20px">
                        <span style="font-size: 24px ;margin-left: 5px; margin-top: 10px;">{{info}}</span>
                    </p>
                
                </div>
            </div>
            <!-- <div class="col-lg-1 col-md-1"></div> -->
            <div class="col-lg-7 col-md-6">
                <div>
                    <img src="assets/Mask group (2).png" alt="cleaning" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>

